@charset "UTF-8";

html{
	overflow-y: scroll;
}


body{
	margin: 0px;
	padding: 0px;
	
}

#headerlogo{
	float:left;
}

#menu ul {
	list-style-type:none;
}

#menu {
  width:600px;
  padding:0;
  margin:0;
  float:left;
}

#menu li {
  width:15%;
  float:left;
  padding:0;
  margin:0;
  text-align:center;
}

#menu li a {
  width:auto;
  color:#fff;
  font-size:12px;
  font-weight:bold;
  padding:10px 0;
  text-decoration:none;
  display:block;
  background:#666;
}

#menu li a:hover {
  background:#555;
}

